src/AppBundle/Resources/config/schema/app-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://symfony.com/schema/dic/app"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://symfony.com/schema/dic/app"
    elementFormDefault="qualified">

    <xsd:element name="app" type="config" />

    <xsd:complexType name="config">
        <xsd:attribute name="something3" type="xsd:string" />
    </xsd:complexType>
</xsd:schema>
